.productContainer{
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 800px;
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  padding: 10px;
  margin: 20px;
  width: 28%;
  border: 1px solid rgb(176, 172, 172, 0.4);
  border-radius: 10px;
}

.category{
  margin: 0;
}

.title{
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleConteiner{
  margin: 0;
  padding: 0 10px;
  width: 100%;
}

.titleText{
  margin: 0;
  text-align: center;
}

.ratingPrice{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image{
  width: 100px;
}

.price{
  font-size: 2rem;
  font-weight: 800;
  color: rgb(97, 20, 20);
  text-shadow: 2px 2px 2px rgb(57, 56, 56, 0.5);
}

.rating {
  font-size: 1.2rem;
}