body {
  margin: 0;
}

.mainImg{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
}

.sandwichH1{
  margin: 40px 0 50px;
  font-size: 3rem;
  color: antiquewhite;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 1);
}

.sandBtn {
  width: 150px;
  font-size: 1.5rem;
  margin: 5px;
  cursor: pointer;
  background-color: antiquewhite;
}

.sandBtn:hover{
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  background-color: rgb(197, 177, 151);
}

.inputContainer{
  margin-top: 10px;
}
.sandInp{
  width: 350px;
  font-size: 1.5rem;
  border-radius: 5px;
}
.textCon{
  font-size: 2rem;
  color: azure;
}

#clear{
  background-color: transparent;
  height: 40px;
  width: 150px;
  margin-top: 20px;
  color: azure;
  cursor: pointer;
  border: 1px solid azure;
  border-radius: 25px;
  font-size: 1.5rem;
}
#clear:hover{
  background-color: rgb(220, 232, 232, 0.3);
  
}