.sandwichImg{
  position: absolute;
  display: flex;
  flex-direction: column-reverse;

  bottom: 10px;
  right: 10px;

  width: 375px;
  height: 330px;
}

.ingr{
  right: 10px;
  margin-top: -150px;
  overflow: scroll;
  }